      /* Estilos generales del modal */
      .modal {
        display: none; /* Ocultar el modal por defecto */
        position: fixed; /* Posición fija para que se mantenga en pantalla */
        z-index: 1; /* Asegurar que el modal esté en la parte superior */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Permitir el desplazamiento si el contenido es más largo que la ventana */
        background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
      }
      
      .modal-content {
        background-color: #fefefe; /* Fondo blanco para el contenido del modal */
        margin: 15% auto; /* Margen superior e inferior y centrar horizontalmente */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }